{% for page in menu %}
<li class="nav-item {% if app.request.attributes.get('request').attributes.get('_route') matches '/^(page.*)/' and app.request.attributes.get('request').attributes.get('id') == page.id %}active{% endif %}">
    <a class="nav-link" href="{{ path('page_view', {'id': page.id}) }}">{{ page.name }}</a>
</li>
{% endfor %}
