@import url('https://fonts.googleapis.com/css?family=Oranienbaum|Roboto:400,500,900&subset=cyrillic-ext');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h1 small, h2 small, h3 small, h4 small {
    font-family: 'Oranienbaum', serif;
}
h1 small, h2 small, h3 small, h4 small {
    color: #999;
}
h5, h6, h5 small, h6 small {
    font-family: 'Roboto', sans-serif;
}
h5.murr-head {
    /*display: block;
    position: absolute;
    bottom: 20%;
    */
    font-size: 3em;
    margin-top: 1em;
}
h5.murr-head p {
    font-size: 0.3em;
}

a, .btn-link {
    color: #1e7e34;
}

blockquote {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 1rem;
    background-color: #d3f6db;
}
blockquote p {
    margin: 0;
    padding: 0;
}

blockquote em {
    display: block;
    font-size: 80%;
    color: #6c757d;
}

blockquote em::before {
    content: "\2014 \00A0";
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 150px!important;
}

.navbar {
    background-color: #fff;
    /*border-top: 1px solid #ddd;*/
    border-bottom: 1px solid #ddd;
}
.navbar-light .navbar-toggler {
    border: 0px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .active .nav-link
{
    background-color: #1e7e34;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1em;
    padding-left: 1em;
    color: #666;
}