{% extends 'layout.html.twig' %}

{% block title %}{% trans %}Guild{% endtrans %} Murr {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>О клане</h1>
            <p>Основная цель клана Murr - создать сообщество взрослых игроков, которые спокойно реагирую на глупые вбросы в мире и способны сдерживаться при внутренних конфликтах.</p>
            <p>Клан не ставит перед собой первичных доминаторских целей на сервере, но подразумевает развитие для ТВ, РБ и других PVP-эвентов.</p>
        </div>
        <div class="col-12 col-md-6">
            <h1>Прием в Murr</h1>
            <p>Наша гильдия осуществляет прием игроков начиная с 30 уровня. Прием твинов - по особому согласованию.</p>
            <p>Для того, чтобы подать заявку в клан нужно <a href="{{ path('user_signup') }}">зарегистрироваться на сайте</a> или <a href="{{ path('app_login') }}">войти</a>, если у Вас уже есть аккаунт, а после заполнить форму заявки.</p>
            <p><a href="#" class="btn btn-success">Подать заявку в клан</a></p>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% endblock %}