{% extends 'layout.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-5 col-lg-6">
            <h1>{% trans %}Directory{% endtrans %}</h1>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
