{% extends 'layout.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-5 col-lg-6">
            <h1>{% trans %}Edit{% endtrans %} <small>{{ post.topic.heading }}</small></h1>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
    $(function () {
        var simplemde = new SimpleMDE({
            element: $("#forum_post_body")[0],
            shortcuts: {
                drawTable: "Cmd-Alt-T"
            },
            showIcons: ["table"], //"code",
            hideIcons: ["side-by-side", "fullscreen"],
        });

        $("#forum_post_save").click(function (e) {
            $("#forum_post_body").val(simplemde.value());
        });
        /*$("form[name=forum_topic]").submit(function (e) {
            e.preventDefault();
            console.log(simplemde.value());
        });
*/
    });
</script>
{% endblock %}
